* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* EL RINCON DEL PROFE */
header {
  list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0px;
    display: flex; /* Alinea los elementos horizontalmente */
    background-color: #f9f6fa; /* Color de fondo de la barra */
    overflow: hidden;
    /* Propiedad clave para la forma ovalada */
    border-radius: 100px;
    width: 100%; 
    border-bottom: 4px solid #410238;
    margin: 20PX auto; /* Centra la barra en la página */
}

.logo img {
  display: block;
  border-radius: 3em;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
}

.header-left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

nav {
  display: flex;
  gap: 15px;
}

.header-left nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition-duration: .8s;
}

.header-left nav a:hover {
  color: #15ec9e;
}

.header-right {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.locacion a {
  text-decoration: none;
  color: black;
  transition-duration: .8s;
}

.locacion a:hover {
  color: #00754a;
}

.btn-registro {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-iniciar {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}
table {
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			border: 1px solid #ddd;
			padding: 10px;
			text-align: left;
		}
		th {
			background-color: #f0f0f0;
		}
		.pedido {
			background-color: #f7f7f7;
			padding: 20px;
			border: 1px solid #ddd;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
		}

    .contenedor-flexible{
  /* acciones de grid */
    display: grid;
    grid-template-columns: auto;/* columnas */
    grid-template-rows: auto;/* filas */
    grid-gap: 5px; /* espacio entre celdas */

  /* background-color: blueviolet; */
  border: 2px solid black;
  width: 600px;
  height: 500px;
  color: white;
}
.boxy{
 /* 
  width: 100px;
  height: 100px;  */
  background-color: orange;
  border: 2px solid black;
  font-size: 4rem;
}

.boxy img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
  
 
}

.bbq{
 background-color: rgb(8, 219, 8);
grid-row-start: 1;
grid-row-end: 3;
 text-align: center;
 display: flex; 
}

.alp{
 background-color: rgb(231, 94, 60);
grid-column-start: 1;
grid-row-end: 2; 
grid-column: 4/4;
 text-align: center;
}

.alc{
 background-color: rgb(8, 219, 8);
grid-row: 2/4; 
grid-column: 4/5;
 text-align: center;
}
.pap{
  background-color: rgb(231, 94, 60);
  grid-row: center; 
grid-column: auto;
 text-align: center;
}

/* banner */

.banner {
    display: flex;
    width: 100%;
    max-width: 1250px;
    border-radius: 15px;
    margin: 50px auto;
    /* overflow: hidden; */
    /* mantiene todo dentro de su caja */
    /* background-color: orange; */
}
.banner-info,
.banner-image {
    /* flex-grow: 1; */
    width: 50%;
}

.banner-info {
    padding: 100px 0 100px 30px;
    background-color: #f3b14f;
    color: black;
    border-radius: 18px 0 0 18px;
}

.banner-info a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.banner-image {
    position: relative;
    background-image: url("https://media.istockphoto.com/id/1475199769/es/vector/dibujos-de-garabatos-de-pollo-picantes.jpg?s=1024x1024&w=is&k=20&c=j2AYII5_Qn3KID5CeDZgOYebsMqsXKY1BH6rHT3dtvM=");
    background-size: cover;
    background-position: center;
    border-radius: 0 18px 18px 0;
}

.banner-image .ALITAS {
    position: absolute;
    right: 10%;
    bottom: 20%;
    width: 350px;
}

.X2 {
    position: absolute;
    width: 90px;
    right: 11%;
    top: 10%;
    transform: rotate(28deg);
}

.PAPAS {
    position: absolute;
    width: 200px;
    bottom: 10%;
    right: 0;
    z-index: 1;
}

/* footer */

.footer-container {
    display: flex;
    /* organiza los elementos uno a lado del otro  */
    width: 100%;
    justify-content: flex-start;
    max-width: 1300px;
    gap: 40px;
    margin: auto;
}

footer {
    background-color: #f9f6fa;
    color: black;
    padding: 50px 0;
    gap: 50px;
}

footer a {
    color: rgba(38, 2, 39, 0.842);
    text-decoration: none;
    transition-duration: .8s;
}

footer a:hover {
    color: black;
}

footer nav {
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin-bottom: 3px;
}


		.social {
			margin-top: 20px;
		}
		.social a {
			margin-right: 10px;
		}
        .promocion {
			background-color: #20021ae7;
			padding: 20px;
			border: 1px solid #5e0101b0;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
		}

    /* Tablet */
@media screen and (max-width: 890px) {
  .container {
    flex-direction: column;
  }

  .header-left {
    justify-content: center;
  }

  .header-right {
    justify-content: center;
  }
  
  .banner, .banner-image, .banner-info {
    flex-direction: center;
    justify-content: center;

  }


  .left,
  .center,
  .right {
    height: auto;
    width: auto;
    padding: 0 30px;
  }
}


/* Mobile */
@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .header-left {
    flex-direction: column;
    gap: 15px;
  }

  .header-right {
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}